<!DOCTYPE html>
<html>
<head>
	<title>Dashboard-easymcq</title>
	<link rel="stylesheet" type="text/css" href="/css/admindashboardStyle.css" />
</head>
<body>
	<div class="logo_company_left" align="center">
				<div><p class="main_text">E a s y &nbsp; M c q . . . ! !</p></div>
	</div>

	<div class="left_container">
		<img class="backgroundImage" src="/images/logo1.png">
	</div>


	<div class="right_container">

		<div class="login_redirection" align="center">
			

			<div>
				<p class="sub_text">Admin Pannel</p>
			</div>

			<div>
				<a href="../addquest"><button class="redirect">Add Questions to Library</button></a>
			</div>

			<div>
				<a href="../createtest"><button class="redirect">Create a new Test</button></a>
            </div>

            <div>
				<a href="../results/show"><button class="redirect">Dump all results to a CSV</button></a>
            </div>

			<div>
				<a href="../../logout"><button class="redirect">Logout</button></a>
			</div>

		</div>

	</div>
</body>
</html>