<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="/css/loginuser.css" type="text/css" />
        <title>Create an account</title>
    </head>
    <body>
        <form method="post" action="../../admin/login" >
        <div class="container w-50 center_it" >
            <div class="alert alert-success text-center" role="alert">
                LOGIN AS ADMIN
              </div>
            <div class="input-group mt-3 mr-auto ml-auto mb-3 w-50">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">•</span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Enter email ID" aria-label="email" aria-describedby="basic-addon1">
              </div>

              <div class="input-group mt-3 mr-auto ml-auto mb-3 w-50">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">•</span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="Enter password" aria-label="password" aria-describedby="basic-addon1">
              </div>


              <input type="submit" class="btn btn-success float-right submit_btn" />
            </div>
        </form>
        <script type="text/javascript" >
            //javascript code goes here.
        </script>
    </body>
</html>