<!DOCTYPE html>
<html>
<head>
	<title>easymcq.com</title>
	<link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
</head>
<body>
	<div class="left_container">
		<img class="backgroundImage" src="/images/logo1.png">
	</div>

	<div class="right_container">
		<div class="general_redirection">
			
			<div class="logo_company">
				<div><p class="main_text">E a s y &nbsp; M c q . . . ! !</p></div>
				<div><p class="sub_text">H i r e  &nbsp; &nbsp; t h e  &nbsp;&nbsp;  b e s t &nbsp;&nbsp; T a l e n t</p> </div>
			</div>
			<br>	
		</div>

		<div class="login_redirection" align="center">
			<div>
				<a href="/login/user"><button class="redirect">Student Login</button></a>
			</div>
			<div>
				<a href="createuser.html"><button class="redirect">Student Registration</button></a>
			</div>
			<div>
				<a href="/login/admin"><button class="redirect">Admin Login</button></a>
			</div>
		</div>

	</div>
</body>
</html>