<html>
    <body>
        <form action="../verify/<%= test_id %>" method="post" >
            <input type="text" name="proctor" placeholder="Enter proctor code" />
            <input type="submit" value="start test" />
        </form>
    </body>
</html>