@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body
{
	margin: 0px;
	background-image: url(/images/bg.png);
	background-size: cover;
}

.backgroundImage
{
	width: 700px;
	height: 400px;
}


.left_container
{
	padding-top:50px; 
	float: left;
}

.logo_company_left
{
	padding-left: 30px;
	padding-top: 10px;
}

.right_container
{
	padding-top: 20px;
	padding-left: 100px;
	float: left;
}

.main_text
{
	font-family: 'Bangers', cursive;
	color: white;
	font-size: 40px;
	margin: 0px;
}
.sub_text
{
	font-family: 'Open Sans', 'sans-serif';
	color: white;
	font-size: 28px;
	margin: 0px;
	font-weight: bold;
	padding-bottom: 20px;
}
.login_redirection
{
	padding-top: 50px;
	margin-left: 20px;
	height: 300px;
	width: 400px;
}
.redirect
{
	align-content: center;
  margin: 18px;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  outline: none;
  height: 50px;
  width: 250px;
  font-family: 'Open Sans', 'sans-serif';
  color: white;
  font-size: 16px;
  border-radius: 0.3em;
  opacity: 0.9;

}
.redirect:hover {
  background-color: #6FC6FF;
}

a{
	text-decoration: none;
}